*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
fieldset{
background-color: #eeeeee;

 margin-left: 2px;
 margin-right: 2px;
 padding-top: 0.35em;
 padding-bottom: 0.625em;
 padding-left: 0.75em;
 padding-right: 0.75em;
 border: 2px groove (internal value);
}